* {
    margin: 0;
    padding: 0
}

body{
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

#add-book {
    display: block;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 15px;
    margin: 15px;
    cursor: pointer;
}

#add-book-form {
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type='text'],
input[type='checkbox'],
input[type='submit'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type='checkbox'] {
    margin-top: 5px;
}